<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outfit</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' />

    <style>
        /* Instagram風のフォントスタイル */
        .instagram-card {
            font-family: 'Roboto', 'Arial', sans-serif;
        }

        /* タイトルのスタイル */
        .instagram-title {
            font-weight: 600; /* 太字にする */
            font-size: 1.2rem; /* フォントサイズを調整 */
            color: #262626; /* Instagram風の濃いグレー */
        }

        /* アクション部分のスタイル */
        .instagram-actions {
            font-size: 0.9rem; /* 少し小さめのフォント */
            color: #8e8e8e; /* 少し薄いグレー */
        }

        /* ボタンのスタイル */
        v-btn {
            font-weight: 500; /* ボタンのフォントを少し太めに */
        }
    </style>

</head>
<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-row class="text-h3 mb-3 mt-5" justify="center">
                        <i class="fa-solid fa-temperature-three-quarters"></i>Climate Closet
                    </v-row>

                    <!-- タブの追加 -->
                    <v-tabs v-model="tab">
                        <v-tab> Add Outfit </v-tab>
                        <v-tab> Search Outfit </v-tab>
                        <v-tab> Display All </v-tab>
                    </v-tabs>

                    <v-tabs-items v-model="tab">
                        <!-- Add Outfit Tab -->
                        <v-tab-item>
                            <v-row class="mb-3 mt-3 justify-center align-center">
                                <v-col cols="3" class="input-field">
                                    <v-select v-model="Temperature" :items="['寒い','快適','暑い']" label="Temperature" placeholder="Select Temperature..." outlined>
                                    </v-select>
                                </v-col>
                                <v-col cols="2" class="input-field">
                                    <v-text-field v-model:value="Item" label="Item" placeholder="Enter Item..." outlined>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="5" class="input-field">
                                    <v-text-field v-model:value="Imageurl" label="Image URL" placeholder="Enter Image URL..." outlined>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row class="mb-3 mt-3" justify="center">
                                <v-btn v-on:click="addData" rounded>
                                    <i class="fa-solid fa-plus"></i>
                                </v-btn>
                            </v-row>
                        </v-tab-item>

                        <!-- Search Outfit Tab -->
                        <v-tab-item>
                            <v-row class="mb-3 mt-3" justify="center">
                                <v-col cols="5" class="input-field">
                                    <v-select v-model="Temperature" :items="['寒い','快適','暑い']" label="Temperature" placeholder="Select Temperature..." outlined>
                                    </v-select>
                                </v-col>
                            </v-row>
                            <v-row class="mb-3 mt-3" justify="center">
                                <v-btn v-on:click="readData2" rounded>
                                    <i class="fa-solid fa-magnifying-glass"></i>SEARCH
                                </v-btn>
                            </v-row>
                            <v-row class="mb-3 mt-3" justify="center">
                                <v-col cols="4" v-for="(data, index) in dataList2" :key="index">
                                    <v-card max-width="300px" class="instagram-card">
                                        <v-img :src="data.Imageurl" height="200px" contain></v-img>
                                        <v-card-title class="instagram-title" style="text-align: left; font-size: 0.9rem;">
                                            Temperature: {{ data.Temperature }}<br>
                                            Item: {{ data.Item }}
                                        </v-card-title>
                                        <v-card-actions class="instagram-actions">
                                            <v-spacer></v-spacer>
                                            <v-btn v-on:click="deleteData(index)" rounded style="margin-left: 20px;">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>

                            </v-row>
                        </v-tab-item>



                        <!-- Display All Tab -->
                        <v-tab-item>
                            <v-row class="mb-8 mt-8" justify="center">
                                <v-btn v-on:click="readData" rounded>
                                    Display
                                </v-btn>
                            </v-row>
                            <v-row class="mb-3 mt-3" justify="center">
                                <v-col cols="4" v-for="(data, index) in dataList" :key="index">
                                    <v-card max-width="300px" class="instagram-card">
                                        <v-img :src="data.Imageurl" height="200px" contain></v-img>
                                        <v-card-title class="instagram-title" style="text-align: left; font-size: 0.9rem;">
                                            Temperature: {{ data.Temperature }}<br>
                                            Item: {{ data.Item }}
                                        </v-card-title>
                                        <v-card-actions class="instagram-actions">
                                            <v-spacer></v-spacer>
                                            <v-btn v-on:click="deleteData(index)" rounded style="margin-left: 20px;">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>

                            </v-row>
                        </v-tab-item>
                    </v-tabs-items>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js'></script>
    <script src="./script.js"></script>
</body>
</html>
